@import "base";


//左边固定右边自适应，左边左浮动，固定宽高右面overfl：hidden ,触发bfc
.pro_content{
  background-color: #fff;
  padding: 10rem/@base;

  .box{    
    border-bottom: 1px solid #ccc;
    
  }
  .left{
    float: left;
    width: 140rem/@base;
    height: 140rem/@base;
  }
  .right{  
    height: 140rem/@base;
    padding-left: 20rem/@base;
    overflow: hidden;
    font-size:14rem/@base;
    color: #666666;
    .top{
      .price{
        color: red;
      }
    }
    .info{
    margin-top: 50rem/@base;
    }
    
  }

}
// 慢慢买商品列表分页跳转
.page{
  height: 75rem/@base;
  position: relative;
  button{
    width: 165rem/@base;
    height: 75rem/@base;
    text-align: center;
    line-height: 75rem/@base;
    box-shadow: 0 0 1px #666;
    background-image: linear-gradient(to bottom, #f1f1f1, #d4d4d4);
    border-radius: 5px;
    background-color: #d4d4d4;
    font-size: 14rem/@base;
    color: #000;
    position: absolute;
    bottom: 5rem/@base;
    &.prev{
      left: 15rem/@base;
    }
    &.next{
      right:15rem/@base;
    }

  }
}





