@import "base";


//左边固定右边自适应，左边左浮动，固定宽高右面overfl：hidden ,触发bfc
.pro_content{
  background-color: #fff;
  padding: 10rem/@base;

  .box{
    
    border-bottom: 1px solid #ccc;
    
  }
  .left{
    float: left;
    width: 140rem/@base;
    height: 140rem/@base;
  }
  .right{
  
    height: 140rem/@base;
    padding-left: 20rem/@base;
    overflow: hidden;
    font-size:14rem/@base;
    color: #666666;
    .top{
      .price{
        color: red;
      }
    }
    .info{
    margin-top: 50rem/@base;
    }
    
  }

}


